@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --prussian-blue: #012a4aff;
  --indigo-dye: #013a63ff;
  --indigo-dye-2: #01497cff;
  --usafa-blue: #014f86ff;
  --honolulu-blue: #2a6f97ff;
  --celadon-blue: #2c7da0ff;
  --blue-green: #468fafff;
  --maximum-blue: #61a5c2ff;
  --dark-sky-blue: #89c2d9ff;
  --light-blue: #a9d6e5ff;
  --clrWhite: #fff;
  --letter-spacing: 0.25rem;
  --box-shadow: 2px 2px 2px 0.5px #2c7da0ff;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.5rem;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
}

ul,
li {
  list-style-type: none;
  display: inline-block;
  transition: all 0.3s linear;
}
a {
  text-decoration: none;
  color: var(--clrWhite);
}
